*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav,
footer,
header,
aside {
  display: block;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none !important;
}
a:active{
    color: #f12323 !important;
}

a:hover{
    text-decoration: none !important;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

body {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1)));
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    background-size: cover;
    background-attachment: fixed;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    font-size: 18px;
}

@font-face {
    font-family: Amour;
    src: url("../fonts2/amour.woff") format("woff"),
    url("../fonts2/amour.woff2") format("woff2"),
    url("../fonts2/amour.eot") format("eot"),
    url("../fonts2/amour.ttf.ttf") format("ttf");
}

@font-face {
    font-family: "Bodoni Initials";
    src: url('../fonts2/bodoni-initials.eot') format('eot'),
    url('../fonts2/bodoni-initials.ttf') format('ttf'), /* Safari, Android, iOS */
    url('../fonts2/bodoni-initials.woff') format('woff'), /* Modern Browsers */
    url('../fonts2/bodoni-initials.woff2') format('woff2'); /* Modern Browsers */
}

.nav-item{
    margin-left: 5px;
}

.navbar-brand{
    font-family: "Bodoni Initials", "Bodoni MT";
    color: rgba(252, 227, 4, 0.726);
    font-size: 26px;
    font-weight: 100;
    line-height: 1em;
    margin-top: 25px;
}

main{
    padding: 100px 30px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../images/362619.jpg') no-repeat center center;
    background-size: cover;
    margin-bottom: 30px;
}

.user {
    font-size: 25px;
    margin-top: 5px;
    padding: 0px 15px 0px 140px;
}

.menu {
    display: flex;
    align-items: center;
    position: relative;
    text-align: center;
    font-family: Avenir,"Century Gothic",sans-serif;
  }

  .menu nav > ul {
    display: flex;
    font-size: 24px;
    text-align: center;
  }

  .menu nav ul li {
    display: flex;
    align-items: center;
    list-style-type: none;
    position: relative;
    text-decoration: none;
  }
  
  .menu nav > ul li a {
    text-decoration: none;
    font-weight: bold;
  }
  
  .menu nav > ul li:hover .submenu {
    display: block;
    text-decoration: none;
    color: #646161;
  }

.submenu {
    display: none;
    position: absolute;
    background: rgba(20, 20, 20, 0.712);
    width: 180px;
    padding: 10px;
    z-index: 4;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    top: 35px;
    right: -15px;
    font-size: 16px;
  }

.menu .submenu li {
    font-weight: 100;
    padding: 2px;
}

.menu .submenu li a {
    font-weight: 100;
    color: white;
}

.menu .submenu li a:hover {
    text-decoration: none;
    color: #646161;
    background: none;
}
  
.content {
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    line-height: 1.3;
    font-family: Avenir,"Century Gothic",sans-serif;
}

.col-lg-6 {
    padding: 20px 20px;
    background: rgba(58, 57, 57, 0.39);
    
    border-radius: 20px;
}
.col-lg-6 h1{
    font-family: Amour;
    font-size: 36px;
    color: rgba(252, 227, 4, 0.726);
}

.text{
    width: auto;
    line-height: 1.7em;
    font-size: 18px;
    color: blanchedalmond;
    font-family: Avenir,"Century Gothic",sans-serif;
}
section {
    -ms-flex-preferred-size: 30%;
    flex-basis: 50%;
}

section h2 {
    border-left: 3px solid #027585;
    padding-left: 5px;
    color: #470f01;
    width: 80%;
}

article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    /*выравнять по горизантале чтобы они были по всех ширине*/
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /*выравнять по вертикале*/
    margin: 30px -10px;
}

article img {
    border-radius: 100%;
    height: 50%;
    width: 50%;
}

article p {
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
}
/*Blok Content - правый блок*/
.right h2 {
    color: #470f01;
    border-left: 3px solid #027585;
    padding-left: 5px;
    margin-bottom: 20px;
    font-size: 28px;
}

.content .right {
    flex-basis: 90%;
}

.wrap_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.wrap_title img {
    width: 100%;
}

.form-block {
    margin-top: 50px;
}

.register {
    margin: 70px auto;
    width: 450px;
    padding: 20px;
    border: 1px solid black;
    background: #7e7878;
    border-radius: 10px;
    line-height: 30px;
    text-align: center;
}

.register label {
    color: #470f01;
    font-size: 18px;
}

.register .input-group {
    display: block;
    margin: 10px 0px 10px 0px;
}

.register .input-group label {
    display: block;
    text-align: left;
    margin: 15px 0px 8px 30px;
}

.register .input-group input {
    height: 35px;
    width: 350px;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}

.input-group .btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #007bff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
}

.input-group .btn:hover {
    text-decoration: none;
    background: #1962e9;
    color: white;
}

/*Контейнеры с предложением*/

.wrap_title .title {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    margin-bottom: 25px;
    position: relative;
}

.wrap_title .title:hover .icons {
    display: block;
}

.wrap_title .icons {
    position: absolute;
    padding: 5px;
    display: none;
}

.wrap_title .icons span {
    display: inline-block;
    font-size: 18px;
    color: #88ec71;
    border-radius: 100%;
    background: rgba(38, 37, 41, 0.9);
    padding: 5px 8px;
    cursor: pointer;
}

.wrap_title .icons span:hover {
    /*background: rgba(95, 96, 94, 0.9);*/
    background: rgba(145, 46, 46, 0.94);
    box-shadow: 0 0 4px rgba(145, 46, 46, 0.5);
}

.wrap_title .title img {
    height: 50%;
}

.wrap_title p {
    font-size: 16px;
}

.wrap_title p:nth-of-type(1) {
    font-size: 16px;
    color: #5a1010;
    font-weight: bold;
}

.wrap_title p:nth-of-type(2) {
    color: #492608;
}

.wrap_title .title .bottom {
    border-top: 1px solid #5a1010;
    border-bottom: 1px solid #5a1010;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 16px;
    margin-top: 50px;
}

.wrap_title .title .bottom span {
    color: #ff3c00;
}

.wrap_title .title .bottom a {
    color: #0077ff;
    text-decoration: none;
}

.wrap_title .title .bottom a:hover {
    text-decoration: none;
    color: rgb(22, 170, 22);
}

.description-from-type-label{
    margin-top: 10px;
    height: 100px;
    font-family: Arial, serif;
}

footer {
    background: #212529;
    font-size: 18px;
}