<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Главная страница</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/carousel/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
     crossorigin="anonymous">

    <!-- Favicons -->
    <link rel="icon" th:href="@{/docs/5.2/assets/img/favicons/favicon-32x32.png}" sizes="32x32" type="image/png">
    <link rel="icon" th:href="@{/docs/5.2/assets/img/favicons/favicon.ico}">
    <link rel="icon" type="image/x-icon" th:href="@{../images/favicon.ico}" />
    <meta name="theme-color" content="#712cf9">

    <script th:src="@{https://use.fontawesome.com/dd40fc69fc.js}" src="https://use.fontawesome.com/dd40fc69fc.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}" media="screen">
</head>

<body>

    <!----------------  ШАПКА  ------------------>
    <header th:replace="/blocks/header :: head" style="padding: 20px 20px;"></header>

    <main class="main">
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Отель Premium Class</h1>
                    <p class="text">
                        Al-Sayyah - это уникальное месторасположение в самом центре столицы.
                        Почувствуйте себя как дома в просторных номерах, проведите встречу или эксклюзивное мероприятие.
                        Здесь сочетание комфортного бизнеса и полноценного
                        отдыха станут неотъемлемой частью Вашего пребывания в Ташкенте.
                    </p>
                    <p>
                        <a href="#" class="btn btn-primary my-2">Подробнее</a>
                    </p>
                </div>
            </div>
        </section>
    </main>

    <div class= ""></div>
    <div class="content">
        <div class="right">
            <h2>Номера в отеле</h2>
            <div class="wrap_title">
                <div class="title">
                    <div class="icons">
                        <span>&#10084;</span>
                        <span class="point">&#10150;</span>
                    </div>
                    <img src="https://assets.hyatt.com/content/dam/hyatt/hyattdam/images/2017/01/31/1116/Hyatt-Regency-Tashkent-P054-Presidential-Suite-Bedroom.jpg/Hyatt-Regency-Tashkent-P054-Presidential-Suite-Bedroom.16x9.jpg?imwidth=1280"
                         alt="">
                    <div class="description-from-type-label">
                        <p>Бизнес-люкс Ридженси</p>
                        <p>В бизнес-люксе Ридженси площадью 105 кв. м имеются столовая, кабинет,
                            небольшая кухня, просторная ванная комната с биде и гостевая ванная комната.
                        </p>
                    </div>
                    <div class="bottom">
                        <span>30 $ за день</span>
                        <a href="#">Подробнее</a>
                    </div>
                </div>

                <div class="title">
                    <div class="icons">
                        <span>&#10084;</span>
                        <span class="point">&#10150;</span>
                    </div>
                    <img src="https://assets.hyatt.com/content/dam/hyatt/hyattdam/images/2017/01/31/1116/Hyatt-Regency-Tashkent-P056-Presidential-Suite-Living-Room.jpg/Hyatt-Regency-Tashkent-P056-Presidential-Suite-Living-Room.16x9.jpg?imwidth=1280" alt="">
                    <div class="description-from-type-label">
                        <p>Номер люкс категории Presidential</p>
                        <p>В эксклюзивном люксе категории Presidential площадью 190 кв. м есть изящная жилая зона,
                            кабинет, небольшая кухня с обеденной зоной</p>
                    </div>

                    <div class="bottom">
                        <span>50 $ за день</span>
                        <a href="#">Подробнее</a>
                    </div>
                </div>
                <div class="title">
                    <div class="icons">
                        <span>&#10084;</span>
                        <span class="point">&#10150;</span>
                    </div>
                    <img src="https://assets.hyatt.com/content/dam/hyatt/hyattdam/images/2017/01/31/1116/Hyatt-Regency-Tashkent-P055-Presidential-Suite-Dining-Room.jpg/Hyatt-Regency-Tashkent-P055-Presidential-Suite-Dining-Room.16x9.jpg?imwidth=1280"  alt="">
                    <div class="description-from-type-label">
                        <p>Номер люкс категории Diplomatic</p>
                        <p>Просторный люкс категории Diplomatic площадью 140 кв. м с большой гостиной с кабинетом,
                            небольшой кухней со столовой и отдельными ванными комнатами.</p>
                    </div>

                    <div class="bottom">
                        <span>40 $ за день</span>
                        <a href="#">Подробнее</a>
                    </div>
                </div>
                <div class="title">
                    <div class="icons">
                        <span>&#10084;</span>
                        <span class="point">&#10150;</span>
                    </div>
                    <img src="https://assets.hyatt.com/content/dam/hyatt/hyattdam/images/2017/01/31/1116/Hyatt-Regency-Tashkent-P061-Regency-Executive-Suite-Bedroom.jpg/Hyatt-Regency-Tashkent-P061-Regency-Executive-Suite-Bedroom.16x9.jpg?imwidth=1280" alt="">
                    <div class="description-from-type-label">
                        <p>Номер люкс категории Regency с большой двуспальной кроватью</p>
                        <p>В номере люкс категории Regency площадью 65–70 кв. м имеются отдельная гостиная,
                            гардеробная комната и дополнительный телевизор.</p>
                    </div>

                    <div class="bottom">
                        <span>30 $ за день</span>
                        <a href="#">Подробнее</a>
                    </div>
                </div>
                <div class="title">
                    <div class="icons">
                        <span>&#10084;</span>
                        <span class="point">&#10150;</span>
                    </div>
                    <img src="https://assets.hyatt.com/content/dam/hyatt/hyattdam/images/2019/08/13/1402/Hyatt-Regency-Tashkent-P085-Regency-Club-Terrace.jpg/Hyatt-Regency-Tashkent-P085-Regency-Club-Terrace.16x9.jpg?imwidth=1280" alt="">
                    <div class="description-from-type-label">
                        <p>Номер люкс категории Presidential</p>
                        <p>В эксклюзивном люксе категории Presidential площадью 180 кв. м есть изящная жилая
                            зона, кабинет, небольшая кухня с обеденной зоной, а также две ванные комнаты.</p>
                    </div>

                    <div class="bottom">
                        <span>50 $ за день</span>
                        <a href="#">Подробнее</a>
                    </div>
                </div>
                <div class="title">
                    <div class="icons">
                        <span>&#10084;</span>
                        <span class="point">&#10150;</span>
                    </div>
                    <img src="https://assets.hyatt.com/content/dam/hyatt/hyattdam/images/2019/08/13/1402/Hyatt-Regency-Tashkent-P083-Regency-Club-Entrance.jpg/Hyatt-Regency-Tashkent-P083-Regency-Club-Entrance.16x9.jpg?imwidth=1280" alt="">
                    <div class="description-from-type-label">
                        <p>Номер люкс категории Regency с большой двуспальной кроватью (King)</p>
                        <p>В номере люкс категории Ридженси площадью 70–80 кв. м имеются отдельная гостиная,
                            гардеробная комната и дополнительный телевизор</p>
                    </div>

                    <div class="bottom">
                        <span>30 $ за день</span>
                        <a href="#">Подробнее</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="album py-5 bg-light">
        <div class="container name"> 
            <h2 style="font-size: 26px; color: #470f01; margin-bottom: 30px; border-left: 3px solid #027585;
            padding-left: 5px; font-family: Avenir, Century Gothic , sans-serif">Фотографии отеля</h2>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--    <footer th:replace = "blocks/footer.html::foot"></footer>-->

    <!----------------  Подвал  ------------------>
    <footer class="text-muted py-5">
        <div class="container">
            <p class="mb-1">© 2022 AL-SAYYAH Corparation</p>
        </div>
    </footer>


</body>
</html>
