<div th:fragment = "head">
    <header style="font-size: 20px;">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <p class="navbar-brand" style="
                color: rgba(252, 227, 4, 0.726); font-size: 24px;
                font-weight: 100; line-height: 1em; margin-top: 0px">Al-Sayyah
                </p>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/home">Главная страница</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Комнаты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  href="#">Рестораны</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  href="#">О нас</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  href="#">Комментарии</a>
                        </li>
                    </ul>

                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="font-size: 16px">
                        <button class="btn btn-outline-success" type="submit" style="font-size: 16px">Искать</button>
                    </form>

                    <div class="menu">
                        <div class="dropdown user">
                            <button type="submit" class="btn btn-info dropdown-toggle" data-toggle="dropdown" name="reg_user"
                            style="border-radius: 25px; font-size: 20px"><i class="fa fa-user-o"></i>
                            </button>
                            <ul class="dropdown-menu submenu">
                                <li><a href="">Мой профиль</a></li>
                                <li><a href="">Мои брони</a></li>
                                <li><a href="#">Выйти</a></li>
                                <li><a href="#">HTML</a></li>
                                <li><a href="#">HTML</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</div>